
.falling-pngs {
    position: fixed; /* Ana container'ın ekrana sabitlenmesi */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Üstte tıklama olaylarını devre dışı bırakır */
    overflow: hidden;
}

.falling-png {
    position: absolute; /* Pozisyonu ayarlamak için */
    animation: fall 4s ease-in forwards; /* Düşme animasyonu */
    opacity: 1; /* İlk görünürlük */
    max-width: 75px; /* Maksimum genişlik */
    max-height: 75px; /* Maksimum yükseklik */
    width: auto; /* Orantılı boyutlandırma */
    height: auto; /* Orantılı boyutlandırma */
}

@keyframes fall {
    0% {
        transform: translateY(-100px); /* Yukarıdan başla */
        opacity: 1; /* İlk görünürlük */
    }
    100% {
        transform: translateY(100vh); /* Ekranın altına düş */
        opacity: 0; /* Sonra kaybol */
    }
}
